{% extends 'base.html.twig' %}

{% block body %}

    <h1>Since commit {{ commithash }}</h1>

{% set output %}
{% for groupname, title in config.config.groupnames|filter((title,groupname) => prs[groupname] is defined ) %}

### {{ title }}

{% for pr in prs[groupname] %}{% if not app.request.get('ref') or app.request.get('ref') == pr.base.ref %}
- {{ pr.title }} ({{ pr.user.login}}, [#{{ pr.number }}]({{ pr.html_url }}))
{% endif %}
{#    [label: <code>{% for label in pr.labels|default([]) %}{{ label.slug -}}#}
{#    {%- if not loop.last %}</code>, <code>{% endif -%}#}
{#    {%- endfor %}</code>]#}
{% endfor %}
{% endfor %}
{% endset %}
<textarea style="width: 100%; height: 40vh;">
{{ output }}
</textarea>

{{ output|markdown }}

{#    {{ dump(commit) }}#}

{#    {{ dump(config) }}#}

{#    {{ dump(prs) }}#}

{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}