{% extends 'base.html.twig' %}

{% block body %}

    <div class="container">

    {% for milestone in data %}

        <h2>{{ milestone.title }} <small>(<a href="{{ milestone.html_url }}">#{{ milestone.number }}</a>)</small></h2>

        <div class="row">

            <div class="col-sm-4">


                <div class="progress">
                    <div class="progress-bar" role="progressbar" style="width: {{ milestone.closed_issues / (milestone.closed_issues + milestone.open_issues + 0.1) * 100 }}%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">

                    </div>
                </div>

                {{ milestone.description|markdown }}

                <ul>
                    <li>Due on: {{ milestone.due_on|date('Y-m-d') }}</li>
                    <li>Issues: {{ milestone.open_issues }} open / {{ milestone.closed_issues }} closed issues</li>
                </ul>


            </div>
            <div class="col-sm-8">

                <strong>Open Issues / Epics:</strong>
                <ul>
                {% for issue in milestone.issues if issue.state == "open" %}
                    <li>{{ issue.title }} <a href="{{ issue.html_url }}">#{{ issue.number }}</a>
                        {% for label in issue.labels %}
                            <span style="background-color: #{{ label.color }}; color: #ffffff" class="badge badge-primary">{{ label.name }}</span>
                        {% endfor %}
                        {#{{ issue.body|markdown }}#}
                    </li>

                    {#{% if issue.number == "132" %}#}
                        {#{{ dump(issue) }}#}
                        {#{{ issue.body|markdown }}#}
                    {#{% endif %}#}

                {% endfor %}
                </ul>


                <strong>Closed:</strong>
                <ul>
                    {% for issue in milestone.issues if issue.state == "closed" %}
                        <s>
                        <li>{{ issue.title }} <a href="{{ issue.html_url }}">#{{ issue.number }}</a>
                            {% for label in issue.labels %}
                                <span style="background-color: #{{ label.color }}; color: #ffffff" class="badge badge-primary">{{ label.name }}</span>
                            {% endfor %}
                        </li>
                        </s>
                    {% endfor %}
                </ul>


            </div>
        </div>

        <hr>

    {% endfor %}

    </div>

    {{ dump(data) }}

{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}