{% extends 'base.html.twig' %}

{% block body %}

    {% for milestone in data %}

        <h2>{{ milestone.title }} <small>(<a href="{{ milestone.html_url }}">link</a>)</small></h2>

        <pre>{{ milestone.description }}</pre>

        <ul>
            <li>due_on: {{ milestone.due_on }}</li>
            <li>Issues: {{ milestone.open_issues }} open issues / {{ milestone.closed_issues }} closed issues</li>
        </ul>

        {#{{ dump(milestone.issues) }}#}

        <h3>Issues:</h3>
        <ul>
        {% for issue in milestone.issues %}
            <li>{{ issue.title }} <a href="{{ issue.url }}">#{{ issue.number }}</a></li>
        {% endfor %}
        </ul>
        <hr>

    {% endfor %}

    {##}
    {##}
    {#{% set header = data|first %}#}

    {#<table class="table table-striped table-sm" id="competition">#}

    {#<thead>#}
    {#<tr>#}
        {#{% for columnname, column in header %}#}
            {#<th class="col-{{ columnname }}"#}
            {#><a href="?order={{ columnname }}">{{ columnname|replace({'_': ' '}) }}</a></th>#}
        {#{% endfor %}#}
    {#</tr>#}
    {#</thead>#}

    {#{% for row in data %}#}

        {#<tr>#}
            {#{% for columnname, column in header %}#}
            {#<td class="col-{{ columnname }}">#}
            {#{% if columnname in ['site', 'repository', 'docs'] %}#}
                {#<a href="{{ row[columnname] }}">{{ row[columnname]|truncate(24) }}</a>#}
            {#{% else %}#}
                {#{{ row[columnname]|default('-')|join(', ')|truncate(120) }}#}
            {#{% endif %}#}
            {#</td>#}
        {#{% endfor %}#}
        {#</tr>#}
    {#{% endfor %}#}
    {#</table>#}

    {{ dump(data) }}

{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}